:root{
    --primary-color: #2196F3;
    --baner-color: #2F303A;
    --background-color: ##FFFFFF;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #212121;
}

.header-logo-web {
    color:var(--primary-color);
}

.header-logo {
    color: black;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    word-spacing: -7px;
}

.header-menu,
.header-contacts {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.header-nav {
    text-decoration: inherit;
    color: inherit;
    margin: 0 25px;
}

.header-nav:hover,
.header-nav:focus {
    color:var(--primary-color);
}

.header-mail,
.header-phone {
    color: #757575;
    text-decoration: none;
    margin: 0 25px;
}

.header-mail:hover,
.header-mail:focus,
.header-phone:hover,
.header-phone:focus {
    color:var(--primary-color);
}

.header {
    padding: 24px 215px;
    align-items: center;
    height: 100%;
    background-color: white;
}

.main-background{
    background: var(--baner-color);
    height: 600px;
}

.title{
    color: white;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.main-background-content{
    width: 695px;
    margin: auto;
    text-align: center;
}

.main-background-button{
    border: none;
    padding: 10px 32px;
    background: var(--primary-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    cursor: pointer;
}

.advances-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.86;
    text-align: center;
    letter-spacing: 0.03em;
}

.advances-list{
    list-style-type: none;
    width: 100%; 
    padding: 0;
    margin-bottom: 0;
}

.advances{
    padding: 94px 200px 0 200px;
    background-color: var(--background-color);
}

.advances-list-item{
    padding: 10px 15px;
    width: 270px;
}

.advances-descriptions{
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.01em;
    color: #757575;
}

.advances-list-title{   
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.our-occupation{
    background: var(--background-color);
}

.subtitle{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.7;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
}

.our-occupation-pictures{
    list-style-type: none;
    padding: 50px 215px 94px 215px;
    margin-bottom: 0;
}

.our-team{
    background:  #F5F4FA;
    padding: 94px 215px 50px 215px;
}

.our-team-content{
    list-style-type: none;
    padding-left: 0;
}

.subtitle{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.7;
    text-align: center;
    letter-spacing: 0.03em;
}

.our-team-card{
    background: #FFFFFF;
    margin: 50px 15px;
}

.our-team-card:first-of-type{
    margin-left: 0;
    margin-right: 15px;
}

.our-team-workers{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.03em;
}  

.career{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

.footer-content{
    background: var(--baner-color);
    padding-top: 60px;
}

.home-logo{
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.2;
text-decoration: none;
color: #FFFFFF;
word-spacing: -5px;
padding-left: 215px;
}

.footer-adress{
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
}

.footer-contacts{
    list-style-type: none;
    padding-left: 215px;
}

.footer-mail:hover,
.footer-mail:focus,
.footer-phone:hover,
.footer-phone:focus,
.footer-adress:hover,
.footer-adress:focus{
    color: var(--primary-color);
}

.footer-mail,
.footer-phone{
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.button-portfolio-list{
    list-style-type: none;
    align-items: center;
    padding: 25px 512px ;
}

.button-portfolio-link{
    border: none;
    color: inherit;
    background: #F5F4FA;
    height: 38px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
}



.button-portfolio-link:hover,
.button-portfolio-link:focus{
    color: white;
    background: var(--primary-color);
    cursor: pointer;
}


.portfolio-examples-card{
    width: 370px;
    background: var(--background-color);
    margin: 0 15px 30px 15px;
}

.porfolio-cards-block{
    padding: 15px 215px;
    list-style-type: none;
    column-count: 3;
    align-content: center;
}


.portfolio-name{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.type-of-project{
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: #757575;
}

.portfolio-page-title{
    text-align: center;
    margin: 0;
}

.portfolio-cards-link{
    text-decoration: none;
    color: inherit;
}

.active-header,
.active-portfolio{
    color: var(--primary-color);
}